@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }
html, body { height: 100%; }
body { @apply bg-slate-950 text-slate-100; }
a { @apply text-slate-200 hover:text-white; }
